/* .review-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #817f7f;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .review {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .review-item {
    flex: 1;
    margin: 5px;
    border: 1px;
  }

  .button-group {
    display: flex;
    justify-content: space-between;
  } */

button*, 
div.button-group,
button.btn.btn-primary,
button.btn.btn-primary:focus,
button.btn.btn-primary:hover,
button.btn.btn-primary:active,
button.btn.btn-primary:visited {
    font-family: Futura-pt;
    width: 10vw;
    background-color: #f2f2f2;
    border: 2px solid #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: calc(.5rem + .2vh +.5vmin);
    font-weight: light;
    color: #000;
    text-decoration: none !important;
    overflow: hidden;
    white-space: nowrap;
}

  

