body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.RetreatDetail-wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center;
  position: relative;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.Retreatdetail-card {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background: rgba(236, 235, 235, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 0 0 10px 10px;
}

.Retreatdetail-content h2 {
  margin: 0;
  color: #fff; /* Adjusted to white color */
}

.Retreat-card-details {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}


