body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9f9f9;
  }
  .RetreatDetail-wrapper {
      margin-top: 5px;
      margin-bottom: 5px;
      background-size: cover;
      background-position: center;
      position: relative;
      width: 500px;
      height: 300px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    }
    
    .Retreatdetail-card {
      justify-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(6px);
      border-radius: 0 0 10px 10px;
    }
    
    .Retreatdetail-content h2 {
      margin: 0;
      color: rgb(61, 58, 58);
    }