/* input.searc-bar{
  margin-top: 80px !important;
}



.search-bar-location {
  width: 60%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
}

.search-bar-date {
  width: 30%;
  border: 1px solid #ccc;
  padding: 10px;
  margin-right: 10px;
}



button:hover {
  background-color: #45a049;
} */
