.modal {
    position: fixed; 
    z-index: 1; 
    right: 0; 
    top: 0;
    width: 30%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(126, 202, 129, 0.712); 
    opacity: .7;
    
  }
  
  .modal-content {
    margin: 20px;
    padding: 20px;
    border: 1px solid #888;
    color: black; 
  }
  
  .modal-content {
    margin: 20px;
    padding: 20px;
    border: 1px solid #888;
    color: black; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  