main.App {
  width: 80vw;
}

:root {
  --bg-color: #ffffff;
  --primary-color: #ffffff;
  --secondary-color: #000;
  --text-color: #000;
  --text-color-2: #000;
  --text-color-3: rgb(198, 118, 118);
  --overlay-color: rgb(255 255 255 / 70%);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  overflow-y: visible;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 30px;
  border-left: 10px solid var(--primary-color);
  border-right: 10px solid var(--primary-color);
}


ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Marcellus;
}

a,
a:hover {
  color: var(--text-color);
}

.text_2,
.text_2:hover {
  color: var(--text-color-2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.modal-content {
  background-color: #fff;
  /* White background for a clean look */
  border-radius: 8px;
  /* Soft rounded corners */
  border: none;
  /* No border for a sleek appearance */
}

.modal-header {
  border-bottom: 1px solid #e9ecef;
  padding: 1rem 1rem;
}

.modal-title {
  color: #5f6368;
  font-family: 'Open Sans', sans-serif;
}

.modal-body {
  color: #5f6368;
  line-height: 1.5;
}

.modal-footer {
  border-top: 1px solid #e9ecef;
  padding: 0.75rem 1rem;
}


.btn-primary {
  background-color: #88a5af;
  border-color: #88a5af;
  box-shadow: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #729ca0;
  border-color: #729ca0;
}



button *,
button.btn.btn-primary,
button.btn.btn-info,
button.btn.btn-primary:focus,
button.btn.btn-primary:hover,
button.btn.btn-primary:active,
button.btn.btn-primary:visited {
  font-family: Futura-pt;
  width: 10vw;
  background-color: #f2f2f2;
  border: 1px solid #000 !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: calc(0.5rem + 0.2vh + 0.5vmin);
  font-weight: light;
  color: #000;
  text-decoration: none !important;
  object-fit: contain;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.btn.btn-danger {
  font-family: Futura-pt;
  width: 5w;
  background-color: #979696;
  border: 1px solid #000 !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: calc(0.5rem + 0.2vh + 0.5vmin);
  font-weight: light;
  color: #000;
  text-decoration: none !important;
  object-fit: contain;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

button.btn.btn-info {
  font-family: Futura-pt;
  width: 5vw;
  background-color: #c0bdbd;
  border: 1px solid #000 !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  font-size: calc(0.5rem + 0.2vh + 0.5vmin);
  font-weight: light;
  color: #000;
  text-decoration: none !important;
  object-fit: contain;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}